body {
	color: white;
	background: url(../img/stars.png) black top no-repeat fixed;
	padding: 0;
	margin: 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family:arial, sans-serif;
}

a {
   outline: 0;
}

.loading_overlay {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background-color: black;
}
.loading {
	position: fixed;
	width: 30%;
	height: 10%;
	top: 45%;
	left: 35%;
	background: #343434;
	background: rgba(52, 52, 52, 0.9);
	text-align: center;
	border: 4px solid #888;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 20px;
}
.loading .loading_bar {
	height: 8px;
	background-color: #5e5e5e;
	margin-top: 20px;
}
.loading .loading_bar .progress {
	height: 8px;
	width: 0%;
	background-color: #888;
}

#title {
	width: 860px;
	margin: 15px auto 10px auto;
	position:relative;
}
#title h1 {
	padding: 0;
	margin: 0;
	line-height: 60px;
	text-indent: -5000px;
	background: url('../img/title.png') no-repeat center;
}
#title #share_twitter {
	position: absolute;
	width: 37px;
	height: 37px;
	line-height: 60px;
	text-indent: -5000px;
	background: url('../img/icon-twitter.png') no-repeat center;
	top: 15px;
	right: 10px;
	opacity: .5;
	transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
}
#title #share_facebook {
	position: absolute;
	width: 37px;
	height: 37px;
	line-height: 60px;
	text-indent: -5000px;
	background: url('../img/icon-fb.png') no-repeat center;
	top: 15px;
	right: -30px;
	opacity: .5;
	transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
}

#title #share_email {
	position: absolute;
	width: 37px;
	height: 37px;
	line-height: 60px;
	text-indent: -5000px;
	background: url('../img/icon-email.png') no-repeat center;
	top: 15px;
	right: -70px;
	opacity: .5;
	transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
}

#title #share_twitter:hover,
#title #share_facebook:hover,
#title #share_email:hover {
	opacity: 1;
}

#work_for_us_ah_go_on a {
	position: absolute;
	top: 0;
	left: 0;
	width: 130px;
	height: 130px;
	background: url('../img/were-hiring-left.png') no-repeat;
	text-indent: -5000px;
}
#work_for_us_ah_go_on a:active {
	outline: none;
}

#songsheet {
	width: 650px;
	margin: 0 auto 20px auto;
}

#faq {
	float: left;
	margin: 0 0 0 10px;
}

#faq a {
	font-size: 14px;
	display: inline-block;
	margin: 7px 0 0 0;
	color:#fff;
}

#faq-text {
	color:#292929;
	width:600px;
	/*background:#e9e9e9;*/
}

#faq-text h1 {
	margin-top: 0;
}

#faq-text ul {
	margin:0;
	padding:0;
}

#faq-text li {
	list-style-type:none;
	margin: 0 0 15px;
	line-height: 1.5;
}

#faq-text li .question {
	font-weight:bold;
}

#faq-text li .answer {
	font-size:12px;
}

#songsheet .songs {
	width: 280px;
	float: left;
	margin-left: 7px;
	margin-right: 7px;
	background-color: #292929;
	position: relative;
	border: 1px solid #343434;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#songsheet .songs:hover,
#songsheet .songs:hover ul {
	border-color:#7e7e7e;
}

#songsheet .songs h2 {
	margin: 0;
	padding: 0;
	margin-left: 12px;
	margin-right: 12px;
	font-weight: normal;
	font-size: 12pt;
	line-height: 30px;
	background-image: url('../img/arrow-down.png');
	background-repeat: no-repeat;
	background-position: right center;
}
#songsheet .songs ul {
	position: absolute;
	width: 260px;
	z-index: 100;
	list-style-type: none;
	margin: -1px;
	margin-top: -2px;
	padding: 0;
	border-left: 1px solid #343434;
	border-right: 1px solid #343434;
	border-bottom: 1px solid #343434;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: #292929;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
}
#songsheet .songs ul li {
	border-top: 1px solid #3f3f3f;
	line-height: 19px;
}
#songsheet .songs ul li a {
	display: block;
	color: white;
	text-decoration: none;
	padding-left: 27px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: url(../img/play_bullet.png);
	background-repeat: no-repeat;
	background-position: 2px center;
}
#songsheet .songs ul li a:hover {
	background-color: #454545;
}
#songsheet .songs ul li a .song_title {
	font-weight: bold;
	font-size: 10pt;
}
#songsheet .songs ul li a .votes {
	font-size: 8pt;
}

#choir {
	/* background-color: #444; */
	margin: auto;
	position: relative;
}
ul#singers {
	margin: 0; padding: 0;
}
ul#singers li {
	height: 25%;
	width: 10%;
	overflow: hidden;
	position: absolute;
	padding: 0;
	margin: 0;
}
ul#singers li img {
	height: 400%;
	position: absolute;
	left: -20%;
	width: auto;
}

ul#singers li img:hover {
	cursor:pointer;
}

li#face_e2 {left: 10%; top: 75%;}
li#face_f2 {left: 20%; top: 75%;}
li#face_fs2 {left: 25%; top: 50%;}
li#face_g2 {left: 30%; top: 75%;}
li#face_gs2 {left: 35%; top: 50%;}
li#face_a2 {left: 40%; top: 75%;}
li#face_as2 {left: 45%; top: 50%;}
li#face_b2 {left: 50%; top: 75%;}
li#face_c3 {left: 60%; top: 75%;}
li#face_cs3 {left: 65%; top: 50%;}
li#face_d3 {left: 70%; top: 75%;}
li#face_ds3 {left: 75%; top: 50%;}
li#face_e3 {left: 0%; top: 25%;}
li#face_f3 {left: 10%; top: 25%;}
li#face_fs3 {left: 15%; top: 0%;}
li#face_g3 {left: 20%; top: 25%;}
li#face_gs3 {left: 25%; top: 0%;}
li#face_a3 {left: 30%; top: 25%;}
li#face_as3 {left: 35%; top: 0%;}
li#face_b3 {left: 40%; top: 25%;}
li#face_c4 {left: 50%; top: 25%;}
li#face_cs4 {left: 55%; top: 0%;}
li#face_d4 {left: 60%; top: 25%;}
li#face_ds4 {left: 65%; top: 0%;}
li#face_e4 {left: 70%; top: 25%;}
li#face_f4 {left: 80%; top: 25%;}
li#face_fs4 {left: 85%; top: 0%;}
li#face_g4 {left: 90%; top: 25%;}

li#face_woof {left: 88%; top: 75%;}
ul#singers li#face_woof img {height: 100%;}

#current_song {
	position: fixed;
	bottom: 0;
	margin: auto;
	text-align: center;
	width: 100%;
}
#current_song h3 {
	font-weight: bold;
	font-size: 18pt;
	margin: 0;
	display:inline-block;
	position:relative;
}
#current_song h3 .title {
	opacity:.8;
	display:block;
	margin: 0 0 -12px 0;
}

#song_title_layout {
	margin:30px 0 0 0;
}

#current_song.playing h3 .title {
	opacity:1;
}

#current_song h3 .votes {
	font-size: 10pt;
	color: #5e5e5e;
	font-weight:normal;
	position:absolute;
	top:10px;
	right:-50px;
}

#play {
	display:inline-block;
	background:url(../img/play-stop.png) no-repeat bottom;
	width:50px;
	height:50px;
	border:0;
	text-indent:-999999px;
	margin:0 10px 0 0;
}

.playing #play {
	background-position:top;
}

#play:hover {
	cursor:pointer;
}

#current_song #vote_controls {
	height: 24px;
	margin: auto auto 20px auto;
}
#current_song #vote_controls form {
	display: inline;
}
#current_song #vote_controls form a {
	color: white;
	text-decoration: none;
	font-size: 8pt;
	padding-left: 19px;
	margin-left: 8px;
	margin-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-repeat: no-repeat;
	background-position: left center;
}
#current_song #vote_controls form#vote_up a {
	background-image: url('../img/love.png');
	opacity:.8;
	transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	font-weight:bold;
}
#current_song #vote_controls form#vote_down a {
	background-image: url('../img/hate.png');
	opacity:.8;
	transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	font-weight:bold;
}

#current_song #vote_controls form#vote_up a:hover,
#current_song #vote_controls form#vote_down a:hover {
	opacity:1;
}

#current_song h2 {
	width: 352px;
	background-color: #292929;
	margin: auto;
	margin-top: 30px;
	line-height: 56px;
	padding: 0;
	background-image: url('../img/record_your_carol_btn.png');
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -5000px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top: 1px solid #343434;
	border-left: 1px solid #343434;
	border-right: 1px solid #343434;
}
#editor {
	position: fixed;
	bottom: -244px;
	height: 300px;
	width: 100%;
	background-color: #292929;
	display: none;
}
#editor h2 {
	margin: auto;
	width: 260px;
	background-image: url('../img/record_your_carol_btn.png');
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -5000px;
	line-height: 56px;
}
#editor_close {
	position: absolute;
	top: -29px;
	right: 15%;
	width: 80px;
	height: 29px;
	text-indent: -5000px;
	background-image: url('../img/close_tab.png');
}

#editor_buttons {
	position: absolute;
	right: 15%;
	top: 10px;
}

#playback {
	text-indent: -5000px;
	width: 119px;
	height: 36px;
	background: none;
	background-image: url('../img/playback_btn.png');
	border: none;
	cursor: pointer;
}
#save {
	text-indent: -5000px;
	width: 77px;
	height: 36px;
	background: none;
	background-image: url('../img/save_btn.png');
	border: none;
	cursor: pointer;
}

#staffs {
	margin: 0;
	padding: 0;
	height: 130px;
	overflow: auto;
	list-style-type: none;
}

#staffs li {
	clear: both;
}
#staffs li .staff_controls {
	float: left;
	width: 10%;
}
#staffs li .staff_controls a.record_button {
	float: right;
	width: 74px;
	height: 41px;
	text-indent: -5000px;
	background-image: url('../img/record.png');
	margin: 10px;
}

.staff_viewport {
	width: 90%;
	height: 80px;
	overflow: hidden;
}
.staff {
	position: relative;
}
.staff .staff_bg {
	width: 100%;
	background-image: url('../img/staff.png');
	margin-top: 13px;
	height: 33px;
}
.staff ul.notes {
	position: absolute;
	top: -19px;
	left: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-image: url('../img/clef.png');
	width: 26px;
	height: 68px;
}
.staff ul.notes li {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 44px;
	height: 74px;
	background-image: url('../img/note_sprite.png');
	background-position: left top;
	margin-top: -21px;
}
.staff ul.notes li.e2  {top:64px; background-position: -88px 0px;}
.staff ul.notes li.f2  {top:60px; background-position:  -0px 0px;}
.staff ul.notes li.fs2 {top:60px; background-position: -44px 0px;}
.staff ul.notes li.g2  {top:56px; background-position: -88px 0px;}
.staff ul.notes li.gs2 {top:56px; background-position:-132px 0px;}
.staff ul.notes li.a2  {top:52px; background-position:  -0px 0px;}
.staff ul.notes li.as2 {top:52px; background-position: -44px 0px;}
.staff ul.notes li.b2  {top:48px; background-position: -88px 0px;}
.staff ul.notes li.c3  {top:44px; background-position:  -0px 0px;}
.staff ul.notes li.cs3 {top:44px; background-position: -44px 0px;}
.staff ul.notes li.d3  {top:40px; background-position: -88px 0px;}
.staff ul.notes li.ds3 {top:40px; background-position:-132px 0px;}
.staff ul.notes li.e3  {top:36px; background-position:  -0px 0px;}
.staff ul.notes li.f3  {top:32px; background-position: -88px 0px;}
.staff ul.notes li.fs3 {top:32px; background-position:-132px 0px;}
.staff ul.notes li.g3  {top:28px; background-position:  -0px 0px;}
.staff ul.notes li.gs3 {top:28px; background-position: -44px 0px;}
.staff ul.notes li.a3  {top:24px; background-position: -88px 0px;}
.staff ul.notes li.as3 {top:24px; background-position:-132px 0px;}
.staff ul.notes li.b3  {top:20px; background-position:-176px 0px;}
.staff ul.notes li.c4  {top:16px; background-position:-176px 0px;}
.staff ul.notes li.cs4 {top:16px; background-position:-220px 0px;}
.staff ul.notes li.d4  {top:12px; background-position:-176px 0px;}
.staff ul.notes li.ds4 {top:12px; background-position:-220px 0px;}
.staff ul.notes li.e4  {top:8px;  background-position:-176px 0px;}
.staff ul.notes li.f4  {top:4px;  background-position:-176px 0px;}
.staff ul.notes li.fs4 {top:4px;  background-position:-220px 0px;}
.staff ul.notes li.g4  {top:0px;  background-position:-176px 0px;}

.staff ul.notes li.e2.active  {top:64px; background-position: -88px -74px;}
.staff ul.notes li.f2.active  {top:60px; background-position:  -0px -74px;}
.staff ul.notes li.fs2.active {top:60px; background-position: -44px -74px;}
.staff ul.notes li.g2.active  {top:56px; background-position: -88px -74px;}
.staff ul.notes li.gs2.active {top:56px; background-position:-132px -74px;}
.staff ul.notes li.a2.active  {top:52px; background-position:  -0px -74px;}
.staff ul.notes li.as2.active {top:52px; background-position: -44px -74px;}
.staff ul.notes li.b2.active  {top:48px; background-position: -88px -74px;}
.staff ul.notes li.c3.active  {top:44px; background-position:  -0px -74px;}
.staff ul.notes li.cs3.active {top:44px; background-position: -44px -74px;}
.staff ul.notes li.d3.active  {top:40px; background-position: -88px -74px;}
.staff ul.notes li.ds3.active {top:40px; background-position:-132px -74px;}
.staff ul.notes li.e3.active  {top:36px; background-position:  -0px -74px;}
.staff ul.notes li.f3.active  {top:32px; background-position: -88px -74px;}
.staff ul.notes li.fs3.active {top:32px; background-position:-132px -74px;}
.staff ul.notes li.g3.active  {top:28px; background-position:  -0px -74px;}
.staff ul.notes li.gs3.active {top:28px; background-position: -44px -74px;}
.staff ul.notes li.a3.active  {top:24px; background-position: -88px -74px;}
.staff ul.notes li.as3.active {top:24px; background-position:-132px -74px;}
.staff ul.notes li.b3.active  {top:20px; background-position:-176px -74px;}
.staff ul.notes li.c4.active  {top:16px; background-position:-176px -74px;}
.staff ul.notes li.cs4.active {top:16px; background-position:-220px -74px;}
.staff ul.notes li.d4.active  {top:12px; background-position:-176px -74px;}
.staff ul.notes li.ds4.active {top:12px; background-position:-220px -74px;}
.staff ul.notes li.e4.active  {top:8px;  background-position:-176px -74px;}
.staff ul.notes li.f4.active  {top:4px;  background-position:-176px -74px;}
.staff ul.notes li.fs4.active {top:4px;  background-position:-220px -74px;}
.staff ul.notes li.g4.active  {top:0px;  background-position:-176px -74px;}

ul#piano {
	width: 690px;
	margin: auto;
	height: 90px;
	position: relative;
	list-style-type: none;
	padding: 0;
}
ul#piano li.white {
	position: absolute;
	top: 25px;
	width: 33px;
	height: 28px;
	border: 2.5px solid black;
	background-color: white;
	color: black;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding-left: 2px;
	padding-top: 30px;
	font-weight: bold;
	font-size: 13pt;
	z-index: 50;
}
ul#piano li.black {
	position: absolute;
	top: 0px;
	width: 29px;
	height: 27px;
	background-color: black;
	color: #818181;
	border: 2.5px solid black;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-weight: bold;
	padding-left: 1px;
	padding-top: 3px;
	z-index: 51;
}
ul#piano li#piano_e2 {left: 17px;}
ul#piano li#piano_f2 {left: 55px;}
ul#piano li#piano_g2 {left: 93px;}
ul#piano li#piano_a2 {left: 131px;}
ul#piano li#piano_b2 {left: 169px;}
ul#piano li#piano_c3 {left: 207px;}
ul#piano li#piano_d3 {left: 245px;}

ul#piano li#piano_e3 {left: 283px;}
ul#piano li#piano_f3 {left: 321px;}
ul#piano li#piano_g3 {left: 359px;}
ul#piano li#piano_a3 {left: 397px;}
ul#piano li#piano_b3 {left: 435px;}
ul#piano li#piano_c4 {left: 473px;}
ul#piano li#piano_d4 {left: 511px;}
ul#piano li#piano_e4 {left: 549px;}
ul#piano li#piano_f4 {left: 587px;}
ul#piano li#piano_g4 {left: 625px;}

ul#piano li#piano_fs2 {left: 76px;}
ul#piano li#piano_gs2 {left: 114px;}
ul#piano li#piano_as2 {left: 152px;}
ul#piano li#piano_cs3 {left: 228px;}
ul#piano li#piano_ds3 {left: 266px;}
ul#piano li#piano_fs3 {left: 342px;}
ul#piano li#piano_gs3 {left: 380px;}
ul#piano li#piano_as3 {left: 418px;}
ul#piano li#piano_cs4 {left: 494px;}
ul#piano li#piano_ds4 {left: 532px;}
ul#piano li#piano_fs4 {left: 608px;}

ul#piano li.active {
	background-color: #db0d38;
}

#torchbox a {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 97px;
	height: 35px;
	background-image: url('../img/torchbox.png');
	text-indent: -5000px;
}
#torchbox a:active {
	outline: none;
}

.popups {
	display: none;
}