<!DOCTYPE HTML>
<html>
	<head>
		{% load compress %}
		<title>The Torchbox Christmas Choir!</title>
		{% compress js %}
		<script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
		<script src="{{ STATIC_URL }}js/swfobject.js"></script>
		<script src="{{ STATIC_URL }}js/ample.js"></script>
		<script>
			Ample.swfPath = "{{ STATIC_URL }}swf/mp3manager.swf";
		</script>
		<script src="{{ STATIC_URL }}lib/colorbox/jquery.colorbox.js"></script>
		<script src="{{ STATIC_URL }}js/jquery.drag.js"></script>
		<script src="{{ STATIC_URL }}js/json2.js"></script>
		<script src="{{ STATIC_URL }}js/chorus.js"></script>
		<script src="{{ STATIC_URL }}js/audio.js"></script>
		<script src="{{ STATIC_URL }}js/keyboard.js"></script>
		<script src="{{ STATIC_URL }}js/faces.js"></script>
		{% if editor_enabled %}<script src="{{ STATIC_URL }}js/staffs.js"></script>{% endif %}
		<script src="{{ STATIC_URL }}js/ui.js"></script>
		{% endcompress %}
		<script>
			$(function() {
				var chorus = ChorusController({{ song.notes_json|safe }});
				var audio = ChorusAudio(chorus);
				var keyboard = ChorusKeyboard(chorus);
				var faces = ChorusFaces(chorus);
				{% if editor_enabled %}var staffs = ChorusStaffs(chorus);{% endif %}
				var ui = ChorusUi(chorus);
			})
		</script>
		{% compress css %}
		<link rel="stylesheet" href="{{ STATIC_URL }}lib/colorbox/colorbox.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/card.css" />
		{% endcompress %}
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/Sing_Torchbox_favicons_16x16.ico" />
	</head>
	<body>
		<div id="title">
			<h1>The Torchbox Christmas Choir!</h1>
			<!-- TODO: add default twitter text -->
			<a id="share_twitter" href="https://twitter.com/share?url={{ full_url|urlencode }}" target="_blank">Share on Twitter</a>
            <!-- TODO: add share text -->
			<a id="share_facebook" href="http://www.facebook.com/sharer.php?u={{ full_url|urlencode }}" target="_blank">Share on Facebook</a>

            <a id="share_email" href="mailto:?Subject=The Torchbox Christmas Choir!&body={{ full_url|urlencode }}">Share by email</a>
			<div style="clear: both;"></div>
		</div>

		<div id="work_for_us_ah_go_on"><a href="http://www.torchbox.com/about/jobs">We're hiring!</a></div>

		<div id="songsheet">
			<div class="songs">
				<h2>Choose from our carols</h2>
				<ul>
					{% for song in songs_by_torchbox %}
						<li>
							<a href="{{ song.get_absolute_url }}">
								<span class="song_title">{{ song.title }}</span>
								<span class="votes">({{ song.vote_score|default_if_none:0 }} vote{{ song.vote_score|default_if_none:0|pluralize }})</span>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="songs">
				<h2>Choose from our friends' carols</h2>
				<ul>
					{% for song in songs_by_others %}
						<li>
							<a href="{{ song.get_absolute_url }}">
								<span class="song_title">{{ song.title }}</span>
								<span class="votes">({{ song.vote_score|default_if_none:0 }} vote{{ song.vote_score|default_if_none:0|pluralize }})</span>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div id="choir">
			<ul id="singers">
				<li id="face_e2"><img src="{{ STATIC_URL }}img/faces/tom.jpg" alt="" /></li>
				<li id="face_f2"><img src="{{ STATIC_URL }}img/faces/johann.jpg" alt="" /></li>
				<li id="face_fs2"><img src="{{ STATIC_URL }}img/faces/james.jpg" alt="" /></li>
				<li id="face_g2"><img src="{{ STATIC_URL }}img/faces/pete.jpg" alt="" /></li>
				<li id="face_gs2"><img src="{{ STATIC_URL }}img/faces/ian.jpg" alt="" /></li>
				<li id="face_a2"><img src="{{ STATIC_URL }}img/faces/neal.jpg" alt="" /></li>
				<li id="face_as2"><img src="{{ STATIC_URL }}img/faces/ed.jpg" alt="" /></li>
				<li id="face_b2"><img src="{{ STATIC_URL }}img/faces/andy.jpg" alt="" /></li>
				<li id="face_c3"><img src="{{ STATIC_URL }}img/faces/olly.jpg" alt="" /></li>
				<li id="face_cs3"><img src="{{ STATIC_URL }}img/faces/jonny.jpg" alt="" /></li>
				<li id="face_d3"><img src="{{ STATIC_URL }}img/faces/neil.jpg" alt="" /></li>
				<li id="face_ds3"><img src="{{ STATIC_URL }}img/faces/chris.jpg" alt="" /></li>
				<li id="face_e3"><img src="{{ STATIC_URL }}img/faces/steve.jpg" alt="" /></li>
				<li id="face_f3"><img src="{{ STATIC_URL }}img/faces/dave.jpg" alt="" /></li>
				<li id="face_fs3"><img src="{{ STATIC_URL }}img/faces/jp.jpg" alt="" /></li>
				<li id="face_g3"><img src="{{ STATIC_URL }}img/faces/paul.jpg" alt="" /></li>
				<li id="face_gs3"><img src="{{ STATIC_URL }}img/faces/robbie.jpg" alt="" /></li>
				<li id="face_a3"><img src="{{ STATIC_URL }}img/faces/stewart.jpg" alt="" /></li>
				<li id="face_as3"><img src="{{ STATIC_URL }}img/faces/wes.jpg" alt="" /></li>
				<li id="face_b3"><img src="{{ STATIC_URL }}img/faces/nick.jpg" alt="" /></li>
				<li id="face_c4"><img src="{{ STATIC_URL }}img/faces/alice.jpg" alt="" /></li>
				<li id="face_cs4"><img src="{{ STATIC_URL }}img/faces/victoria.jpg" alt="" /></li>
				<li id="face_d4"><img src="{{ STATIC_URL }}img/faces/susan.jpg" alt="" /></li>
				<li id="face_ds4"><img src="{{ STATIC_URL }}img/faces/sally.jpg" alt="" /></li>
				<li id="face_e4"><img src="{{ STATIC_URL }}img/faces/helen.jpg" alt="" /></li>
				<li id="face_f4"><img src="{{ STATIC_URL }}img/faces/rob.jpg" alt="" /></li>
				<li id="face_fs4"><img src="{{ STATIC_URL }}img/faces/joe.jpg" alt="" /></li>
				<li id="face_g4"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_woof"><img src="{{ STATIC_URL }}img/faces/stanley.jpg" alt="" /></li>
			</ul>
		</div>

		<div id="current_song">
			<h3>
				{{ song.title }}
				{% with song.score as score %}
					<span class="votes">({{ score }} vote{{ score|pluralize }})</span>
				{% endwith %}
			</h3>
			<input type="button" id="play" value="Play" />
			<div id="vote_controls">
				{% if song.code %}
					<form id="vote_up" action="{% url vote song.code %}" method="POST">
						{% csrf_token %}
						<input type="hidden" name="score" value="1" />
						<input type="submit" value="Oh yes" />
					</form>
					<form id="vote_down" action="{% url vote song.code %}" method="POST">
						{% csrf_token %}
						<input type="hidden" name="score" value="-1" />
						<input type="submit" value="Oh no" />
					</form>
				{% endif %}
			</div>
			{% if editor_enabled %}
				<h2>Record your carol</h2>
			{% endif %}
		</div>
		{% if editor_enabled %}
			<div id="editor">
				<div id="editor_close">Close</div>
				<h2>Record your carol</h2>
				<div id="editor_buttons">
					<button id="playback">Playback</button>
					<button id="save">Save</button>
				</div>

				<ul id="staffs"><li></li></ul>
				<input type="button" id="add_track" value="Add another part" />

				<ul id="piano">
					<li id="piano_e2" class="white">Z</li>
					<li id="piano_f2" class="white">X</li>
					<li id="piano_fs2" class="black">D</li>
					<li id="piano_g2" class="white">C</li>
					<li id="piano_gs2" class="black">F</li>
					<li id="piano_a2" class="white">V</li>
					<li id="piano_as2" class="black">G</li>
					<li id="piano_b2" class="white">B</li>
					<li id="piano_c3" class="white">N</li>
					<li id="piano_cs3" class="black">J</li>
					<li id="piano_d3" class="white">M</li>
					<li id="piano_ds3" class="black">K</li>

					<li id="piano_e3" class="white">Q</li>
					<li id="piano_f3" class="white">W</li>
					<li id="piano_fs3" class="black">3</li>
					<li id="piano_g3" class="white">E</li>
					<li id="piano_gs3" class="black">4</li>
					<li id="piano_a3" class="white">R</li>
					<li id="piano_as3" class="black">5</li>
					<li id="piano_b3" class="white">T</li>
					<li id="piano_c4" class="white">Y</li>
					<li id="piano_cs4" class="black">7</li>
					<li id="piano_d4" class="white">U</li>
					<li id="piano_ds4" class="black">8</li>
					<li id="piano_e4" class="white">I</li>
					<li id="piano_f4" class="white">O</li>
					<li id="piano_fs4" class="black">0</li>
					<li id="piano_g4" class="white">P</li>
				</ul>
			</div>
		{% endif %}

		<div id="torchbox"><a href="http://torchbox.com/">Site by Torchbox</a></div>

		<div class="popups">
			<div id="save_popup">
				<form action="{% url create_song %}" method="post">
					{% csrf_token %}
					<p>Enter a title for your song:</p>

					<table>
						{{ form }}
					</table>
					<input type="submit" value="Share it!" />
			</div>
			<div id="loading_popup"></div>
		</div>
	</body>
</html>
