<!DOCTYPE HTML>
<html>
	<head>
		<title>Trolololthesizer</title>
		<script src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
		<script src="{{ STATIC_URL }}js/simplesample.js"></script>
		<script>simplesample.swfPath = "{{ STATIC_URL }}swf/mp3.swf"</script>
		<script src="{{ STATIC_URL }}lib/colorbox/jquery.colorbox.min.js"></script>
		<link rel="stylesheet" href="{{ STATIC_URL }}lib/colorbox/colorbox.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/card.css" />
		<script src="{{ STATIC_URL }}js/json2.js"></script>
		<script src="{{ STATIC_URL }}js/jquery.drag.js"></script>
		<script src="{{ STATIC_URL }}js/chorus.js"></script>
		<script src="{{ STATIC_URL }}js/audio.js"></script>
		<script src="{{ STATIC_URL }}js/keyboard.js"></script>
		<script src="{{ STATIC_URL }}js/faces.js"></script>
		<script src="{{ STATIC_URL }}js/staffs.js"></script>
		<script src="{{ STATIC_URL }}js/ui.js"></script>
		<script>
			$(function() {
				chorus = ChorusController({{ song.notes_json|safe }});
				audio = ChorusAudio(chorus);
				keyboard = ChorusKeyboard(chorus);
				faces = ChorusFaces(chorus);
				staffs = ChorusStaffs(chorus);
			})
		</script>
	</head>
	<body>
		<div id="title">
			<h1>The Torchbox Christmas Choir!</h1>
			<div id="share_twitter">
				<!-- TODO: escape url param in twitter link; add default twitter text -->
				<a href="https://twitter.com/share?url={{ full_url }}" target="_blank">Share on Twitter</a>
			</div>
			<div id="share_facebook">
				<!-- TODO: escape url param in facebook link; add share text -->
				<a href="http://www.facebook.com/sharer.php?u={{ full_url }}" target="_blank">Share on Facebook</a>
			</div>
		</div>
		<div id="songsheet">
			Choose from our carols | Choose from our friends' carols
		</div>
		<div id="choir">
			<ul id="singers">
				<li id="face_e2"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_f2"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_fs2"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_g2"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_gs2"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_a2"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_as2"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_b2"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_c3"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_cs3"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_d3"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_ds3"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_e3"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_f3"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_fs3"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_g3"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_gs3"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_a3"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_as3"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_b3"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_c4"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_cs4"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_d4"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_ds4"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_e4"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_f4"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_fs4"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
				<li id="face_g4"><img src="{{ STATIC_URL }}img/faces/matthew.jpg" alt="" /></li>
			</ul>
		</div>

		<div id="current_song">
			<h3>{{ song.title }}</h3>
			<input type="button" id="play" value="Play" />
			<p>Oh yes | Oh no</p>
			{% with song.score as score %}
				<p>{{ score }} vote{{ score|pluralize }}</p>
				<form action="{% url vote song.code %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="score" value="1" />
					<input type="submit" value="+" />
				</form>
				<form action="{% url vote song.code %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="score" value="-1" />
					<input type="submit" value="-" />
				</form>
			{% endwith %}
			<h2>Record your carol</h2>
		</div>
		<div id="editor">
			<div id="editor_close">Close</div>
			<h2>Record your carol</h2>
			
			<ul id="staffs"><li></li></ul>
			<input type="button" id="add_track" value="Add another part" />
			
			<input type="button" id="share" value="Share" />
			
			<h2>Highest voted songs</h2>
			<ul>
				{% for song in highest_voted_songs %}
					<li>
						<a href="{{ song.get_absolute_url }}">{{ song.title }}</a>
						({{ song.vote_score|default_if_none:0 }} vote{{ song.vote_score|default_if_none:0|pluralize }})
					</li>
				{% endfor %}
			</ul>
			<h2>Latest songs</h2>
			<ul>
				{% for song in latest_songs %}
					<li>
						<a href="{{ song.get_absolute_url }}">{{ song.title }}</a>
						({{ song.vote_score|default_if_none:0 }} vote{{ song.vote_score|default_if_none:0|pluralize }})
					</li>
				{% endfor %}
			</ul>
		</div>
		
		<div class="popups">
			<div id="save_popup">
				<form action="{% url create_song %}" method="post">
					{% csrf_token %}
					<p>Enter a title for your song:</p>
					
					<table>
						{{ form }}
					</table>
					<input type="submit" value="Share it!" />
			</div>
			<div id="loading_popup"></div>
		</div>
	</body>
</html>
